html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    background-color: #7f7f7f;
}


nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding-top: 12px;
    color: white;
    font-size: 1.3em;
    float: left;
    padding-right: 10px;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #7f909e;
    transition: background-color 0.4s ease;
}




.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    font-size: 1.2em;
    padding-right: 20px
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 200px;
    background-color: #7f909e;
    border-radius: 2px;
    border-color: #3c4348;
    padding: 3px 0px;
    color: white;
}

.formSubmit:hover {
    background-color: #dadada;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #3a3a3a;
}

.hidden {
    display: none;
}


#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

div{
    width:auto;
}

.block {
    height: 50px;
    width: 50px;
    border-radius: 4px;
    rotate:0deg;
}

.emptyItem {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

.itemName {
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

.itemPieces {
    width: 100px;
    font-weight: bold;
    font-size: 1.5em;
}

.item{
    height:auto;
    width: auto;
}


#invSelect {
    overflow: auto;
}

nav {
    position: relative;
    height: 100%;
    min-width: fit-content;   
    max-width: 15%;              
    background: #2b2b2b;         
    display: flex;
    flex-direction: column;
    border-right: 2px solid #3a3a3a;
} 

#logo {
    padding-top: 20%;
    width: 70px;
    height: auto;
    margin-bottom: 20px;
    float: left;

}

#invSelect {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

#invSelect label {
  display: flex;
  align-items: center;
  color: #dadada;
  cursor: pointer;
  font-size: 0.95rem;
}



#inv {
  width: 100%;
  height: 100%;
  background:
    repeating-conic-gradient(#3b3b3b 0 25%, transparent 0 50%)
    0 0 / 100px 100px;
}

#boardArea {
    height: 90%;
}

#deleteArea {
  width: 100%;
  height: 10%;
  background: #3b0000;
  border-top: 2px solid #550000;
  text-align: center;
  padding-top: 10px;
  color: #ffcccc;
}


#itemMessage {
  position: fixed;
  bottom: 30px;
  left: 260px;
  background: #442222;
  padding: 10px 15px;
  border-radius: 4px;
  display: none;
}


#inventoryArea{
    width: auto;
    height: 100%;
}

#maker{
    display: flex;
    width: 100%;
    padding-top: 5%;
    justify-content: center;
}

#itemForm, #content {
    width:100%;
    display: flex;
    align-items: center;
    color: #dadada;
    cursor: pointer;
    font-size: 1.2rem;
    flex-direction: column;
    padding:2%;
}

#tempArea {
    width: auto;
    height: auto;
    min-height: 50%;
}
